@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Satisfy", cursive;
  background-color: #99c2ff;
}
.container {
  width: 500px;
  height: auto;
  margin: auto;
  padding-top: 0;
}
.header {
  height: 300px;
  background-image: linear-gradient(#001433, #99c2ff);
}
.header-dp {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 50px;
  top: 50px;
}
.header-dp > img {
  border-radius: 50%;
}
.header-content {
  position: relative;
  left: 220px;
  top: -100px;
  color: white;
}
.header-content > h3 {
  line-height: 0;
  margin-top: 0;
  padding-top: 0;
  font-size: 30px;
  font-weight: 800;
}
.header-content > button {
  width: 100px;
  font-size: 20px;
  font-family: "Satisfy", cursive;
  background-color: #001f4d;
  border: 1px solid #001f4d;
  color: white;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.header-content > button:hover {
  border: 2px solid #001433;
  background-color: #99c2ff;
  color: #001433;
  font-weight: bold;
}
.work-with-me {
  height: 300px;
  background-color: #ffffff;
  text-align: center;
}
.work-with-me > h3 {
  padding-top: 30px;
  font-size: 30px;
  font-weight: 800;
}
.work-with-me > p {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
}
.about-skills {
  height: 300px;
  background-color: #ffffff;
  text-align: center;
  margin-top: 0;
}
.about-skills-left {
  top: 50px;
  position: relative;
  width: 245px;
}
.about-skills-right {
  position: relative;
  width: 245px;
  left: 250px;
  top: -150px;
}
.about-skills-right > img {
  width: 240px;
  height: 245px;
  border-radius: 20px;
}
.container-testmonial {
  height: 400px;
  background-image: linear-gradient(#001433, #99c2ff);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.container-testmonial-card-1 {
  width: 120px;
  height: 120px;
  position: relative;
  margin-left: 20px;
  top: 50px;
  border: 1px solid green;
  text-align: center;
  border-radius: 10px;
}
.container-testmonial-card-1 > img {
  width: 35px;
  height: 40px;
  position: relative;
  top: 10px;
  border-radius: 20px;
}
.container-testmonial-card-1 > h3 {
  font-size: small;
}
.container-testmonial-card-1 > p {
  font-size: smaller;
}
.container-testmonial-card-2 {
  width: 120px;
  height: 120px;
  position: relative;
  left: 170px;
  top: -70px;
  border: 1px solid red;
  text-align: center;
  border-radius: 10px;
}
.container-testmonial-card-2 > img {
  width: 35px;
  height: 40px;
  position: relative;
  top: 10px;
  border-radius: 20px;
}
.container-testmonial-card-2 > h3 {
  font-size: small;
}
.container-testmonial-card-2 > p {
  font-size: smaller;
}
.container-testmonial-card-3 {
  width: 120px;
  height: 120px;
  position: relative;
  margin-left: 20px;
  border: 1px solid yellow;
  text-align: center;
  border-radius: 10px;
}
.container-testmonial-card-3 > img {
  width: 35px;
  height: 40px;
  position: relative;
  top: 10px;
  border-radius: 20px;
}
.container-testmonial-card-3 > h3 {
  font-size: small;
}
.container-testmonial-card-3 > p {
  font-size: smaller;
}
.container-testmonial-card-4 {
  width: 120px;
  height: 120px;
  position: relative;
  left: 170px;
  top: -120px;
  border: 1px solid orange;
  text-align: center;
  border-radius: 10px;
}
.container-testmonial-card-4 > img {
  width: 35px;
  height: 40px;
  position: relative;
  top: 10px;
  border-radius: 20px;
}
.container-testmonial-card-4 > h3 {
  font-size: small;
}
.container-testmonial-card-4 > p {
  font-size: smaller;
}
.container-testmonial-card-5 {
  width: 120px;
  height: 120px;
  position: relative;
  left: 320px;
  top: -340px;
  border: 1px solid orange;
  text-align: center;
  border-radius: 10px;
}
.container-testmonial-card-5 > img {
  width: 35px;
  height: 40px;
  position: relative;
  top: 10px;
  border-radius: 20px;
}
.container-testmonial-card-5 > h3 {
  font-size: small;
}
.container-testmonial-card-5 > p {
  font-size: smaller;
}
.work-woffer {
  background-color: white;
  text-align: center;
  padding-top: 20px;
  justify-content: center;
  height: 150px;
}
.work-woffer > ul {
  list-style: none;
}
.work-woffer > ul > li {
  display: inline;
  margin: 10px;
  font-size: 20px;
}
.work-woffer > button {
  width: 150px;
  font-size: 20px;
  font-family: "Satisfy", cursive;
  background-color: red;
  border: 2px solid #001f4d;
  color: white;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.work-woffer > button:hover {
  border: 2px solid red;
  background-color: #99c2ff;
  color: #001433;
  font-weight: bold;
}
.footer {
  background-image: linear-gradient(#001433, #99c2ff);
  color: white;
  text-align: center;
  height: 150px;
  padding-top: 20px;
}
.footer > ul {
  list-style: none;
}
.footer > ul > li {
  display: inline;
  margin: 10px;
  font-size: 20px;
}
.footer > img {
  width: 50px;
  height: 50px;
}
